
**/bin/x64
**/obj/x64
**/src/packages
**/src/bin
**/src/obj
**/.vs

ToyEngine/*.vcxproj.*
ToyEngine/*.vcxproj
ToyEngine/packages.config
ToyEngine/Intermediate
ToyEngine/WinPixEventRuntime.dll
Build/
packages/
*.sln
*.exe