
**/bin/x64
**/obj/x64
**/src/packages
**/src/bin
**/src/obj
**/.vs

ToyEngine/*.vcxproj.*
ToyEngine/*.vcxproj
ToyEngine/packages.config
ToyEngine/Intermediate
ToyEngine/WinPixEventRuntime.dll
Build/
packages/
*.sln
*.exe

*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.nupkg
.vs

DirectXTK/Bin
DirectXTK/packages
DirectXTK/Src/Shaders/Compiled/*.inc
DirectXTK/Src/Shaders/Compiled/*.pdb
DirectXTK/ipch
DirectXTK/MakeSpriteFont/obj
DirectXTK/Tests
DirectXTK/wiki
DirectXTK/out
DirectXTK/CMakeUserPresets.json
